# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zelik\Desktop\semester G\236351 - distributed systems\HW\HW2\Decentralized UBER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/ZookeeperServers/
